<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WS_Adobe_Gen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings/>
  <connectionStrings>
    <add connectionString="Server=x00-etrsql-dev.pcrtest.cz\ETRDEV;Database=etr_vyvoj_data;User ID=etr_vyvoj;Password=Cr4ys+een" name="cnETR_data" />
    <add connectionString="Server=x00-etrsql-dev.pcrtest.cz\ETRDEV;Database=etr_vyvoj_soubory;User ID=etr_vyvoj;Password=Cr4ys+een" name="cnETR_soubory" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows"/>
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <applicationSettings>
    <WS_Adobe_Gen.Properties.Settings>
      <setting name="WS_Adobe_Gen_etr_forms_ETR_etr_formsService" serializeAs="String">
        <value>http://10.85.32.78:8080/soap/services/ETR/etr_forms</value>
      </setting>
      <setting name="WS_Adobe_Gen_Add_header_footer_ETR_Add_header_footerService"
        serializeAs="String">
        <value>http://10.85.32.78:8080/soap/services/ETR/Add_header_footer</value>
      </setting>
      <setting name="WS_Adobe_Gen_Add_watermark_ETR_Add_watermarkService"
        serializeAs="String">
        <value>http://10.85.32.78:8080/soap/services/ETR/Add_watermark</value>
      </setting>
      <setting name="WS_Adobe_Gen_konverze_DA_ETR_konverze_DAService"
        serializeAs="String">
        <value>http://10.85.32.78:8080/soap/services/ETR/konverze_DA</value>
      </setting>
      <setting name="WS_Adobe_Gen_etr_konverze_pdfa_ETR_etr_konverze_pdfaService"
        serializeAs="String">
        <value>http://10.85.32.78:8080/soap/services/ETR/etr_konverze_pdfa</value>
      </setting>
      <setting name="WS_Adobe_Gen_LTD_LTDWebService" serializeAs="String">
        <value>http://10.85.68.11/ltd/ltd.asmx</value>
      </setting>
    </WS_Adobe_Gen.Properties.Settings>
  </applicationSettings>
</configuration>